@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

ul{
    list-style: none;
}
body{
    height: 100%;
}

.menu{
}
.social-icons{
 
}
.social-container{
    border-left: 1px black solid;
}
.menu-container{
    border-right: 1px black solid;
}