
@{
    ViewBag.Title = "Over";
    Layout = "~/Views/Frontend/_FrontEndLayout.cshtml";
}

<div style="float:left;" class="col-md-5 item">
    <h2>Openingstijden</h2>
    <ul style="margin-left: -40px;">
        <li>Maandag    Gesloten</li>
        <li>Dinsdag    09:00 - 20:00</li>
        <li>woensdag   09:00 - 20:00</li>
        <li>Donderdag  09:00 - 20:00</li>
        <li>Vrijdag    09:00 - 20:00</li>
        <li>Zaterdag   09:00 - 18:00</li>
        <li>Zondag     09:00 - 18:00</li>
    </ul>
</div>